DHT11_nodered_flow.json
[
    {
        "id": "56066d81.914504",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "75874e62.7f3ca",
        "type": "inject",
        "z": "56066d81.914504",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "c9660e94.dc953"
            ]
        ]
    },
    {
        "id": "c9660e94.dc953",
        "type": "exec",
        "z": "56066d81.914504",
        "command": "/usr/bin/python3 /home/pi/dht11.py",
        "addpay": true,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 350,
        "y": 500,
        "wires": [
            [
                "52d1f9a1.e76898"
            ],
            [
                "42ab208f.c0c91"
            ],
            [
                "3cd608c.1879af8"
            ]
        ]
    },
    {
        "id": "58f9c873.20b848",
        "type": "debug",
        "z": "56066d81.914504",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "42ab208f.c0c91",
        "type": "debug",
        "z": "56066d81.914504",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "3cd608c.1879af8",
        "type": "debug",
        "z": "56066d81.914504",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "52d1f9a1.e76898",
        "type": "json",
        "z": "56066d81.914504",
        "name": "",
        "pretty": false,
        "x": 530,
        "y": 400,
        "wires": [
            [
                "58f9c873.20b848"
            ]
        ]
    }
]
