flow-nodered.json
[
    {
        "id": "70600496.77fccc",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "835b0b82.d4e028",
        "type": "inject",
        "z": "70600496.77fccc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 151.5,
        "y": 215,
        "wires": [
            [
                "92d2e047.aa2f1"
            ]
        ]
    },
    {
        "id": "92d2e047.aa2f1",
        "type": "weather",
        "z": "70600496.77fccc",
        "name": "",
        "longitude": "2",
        "latitude": "40",
        "x": 356.5,
        "y": 214,
        "wires": [
            [
                "8f28cb1e.89d808"
            ]
        ]
    },
    {
        "id": "92f6ab07.6b9998",
        "type": "debug",
        "z": "70600496.77fccc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 751.5,
        "y": 214,
        "wires": []
    },
    {
        "id": "8f28cb1e.89d808",
        "type": "change",
        "z": "70600496.77fccc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wdir",
                "pt": "flow",
                "to": "payload.current.wind.direction.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "wspeed",
                "pt": "flow",
                "to": "payload.current.wind.speed.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 551.5,
        "y": 214,
        "wires": [
            [
                "92f6ab07.6b9998"
            ]
        ]
    },
    {
        "id": "31c93dbe.564e42",
        "type": "inject",
        "z": "70600496.77fccc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 155,
        "y": 336,
        "wires": [
            [
                "ac686704.0ec898"
            ]
        ]
    },
    {
        "id": "28d038f3.507e58",
        "type": "debug",
        "z": "70600496.77fccc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "1ecfd010.8ee3b",
        "type": "wiotp out",
        "z": "70600496.77fccc",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "556cb087.c90e5",
        "deviceType": "",
        "deviceId": "",
        "event": "event",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 676.5,
        "y": 335,
        "wires": []
    },
    {
        "id": "ac686704.0ec898",
        "type": "function",
        "z": "70600496.77fccc",
        "name": "Generate payload",
        "func": "// Generamos 4 variables aleatorias:\n\nseed1 = Math.random() -0.5;\nseed2 = Math.random() -0.5;\nseed3 = Math.random() -0.5;\nseed4 = Math.random() -0.5;\n\n// Acedemos a la info de velocidad del viento y dirección\n// almacenada en el contexto del flujo:\nWindSpeed = parseInt(flow.get('wspeed'));\nWindDirection = parseInt(flow.get('wdir'));\n\n// Convertimos a radianes\nwdir=WindDirection*Math.PI/180;\n\n\n\n// Generamos las variables del aerogenerador :\n\nTurbineSpeed = (1.5*WindSpeed) + (seed1);\n\nPower = (TurbineSpeed*15) + (seed2*4);\n\n// La vibración en X es máxima con vientos de W o E\nVibrationX = (seed3/20 + Math.abs(Math.sin(wdir))/5 + WindSpeed/100);\n\n// La vibración en Y es máxima con vientos de N o S\nVibrationY = (seed4/20 + Math.abs(Math.cos(wdir))/5 + WindSpeed/100);\n\nmsg.payload = {\"WindSpeed\": WindSpeed,\"WindDirection\": WindDirection, \"TurbineSpeed\":TurbineSpeed,\"Power\":Power,\"VibrationX\":VibrationX,\"VibrationY\":VibrationY};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 428,
        "y": 336,
        "wires": [
            [
                "1ecfd010.8ee3b",
                "28d038f3.507e58"
            ]
        ]
    },
    {
        "id": "556cb087.c90e5",
        "type": "wiotp-credentials",
        "z": "",
        "name": "",
        "org": "j73hvh",
        "serverName": "",
        "devType": "WindTurbine",
        "devId": "Aerogenerador01",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    }
]